<h2>Facture n° {{billNumber}}</h2>
<div class="container">
  <form novalidate [formGroup]="billForm" (ngsubmit)="create()">
    <div formArrayName="articles" *ngFor="let article of articles.controls; let i = index">
      <div [formGroupName]="i">
        <div class="row">
          <div class="col">
            <label for="articleQuantity">quantité</label>
            <input type="number" id="articleQuantity" formControlName="articleQuantity">
            <span class="error" *ngIf="article.get('articleQuantity').errors?.required">veuiller indiquer une quantité</span>
            <label for="articleName">nom</label>
            <input type="text" id="articleName" formControlName="articleName">
            <span class="error" *ngIf="article.get('articleName').errors?.required">veuiller indiquer un intitulé</span>        
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <button class="btn btn-light" (click)="addExtraArticle()">ajouter un article</button>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <button type="submit" [disabled]="billForm.invalid">créer</button>
      </div>
    </div>
  </form>
</div>

<div>
  {{ billForm.value | json }}
</div>
